### Tensorflow Data Pipeline

<a href="https://www.kaggle.com/datasets/julian3833/jigsaw-unintended-bias-in-toxicity-classification?select=train.csv"> **Jigsaw 800mb**
    
<a href="https://www.kaggle.com/datasets/drgfreeman/rockpaperscissors"> **Gunting, batu, kertas drgfreeman**

In [15]:
import tensorflow as tf
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OrdinalEncoder

In [16]:
dataset_raw = pd.read_csv('dataset/titanic.csv')

In [17]:
dataset_raw.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [18]:
dataset_raw.shape

(418, 12)

In [19]:
dataset_raw.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [20]:
dataset_raw['Embarked'].unique()

array(['Q', 'S', 'C'], dtype=object)

In [24]:
column_x = ['Pclass', 'Sex', 'Age', 'SibSp', 'Fare', 'Embarked']
column_y = ['Survived']

In [31]:
x_train, x_test, y_train, y_test = train_test_split(dataset_raw[column_x],
                                                   dataset_raw[column_y],
                                                    test_size = .20)

In [34]:
encoder = OrdinalEncoder()

In [36]:
x_train['Sex'] = encoder.fit_transform(x_train[['Sex']])
x_test['Sex'] = encoder.fit_transform(x_test[['Sex']])
x_train['Embarked'] = encoder.fit_transform(x_train[['Embarked']])
x_test['Embarked'] = encoder.fit_transform(x_test[['Embarked']])

In [37]:
model = tf.keras.Sequential([
    tf.keras.layers.Dense(16, activation='relu', input_shape=[len(column_x)]),
    tf.keras.layers.Dense(16, activation='relu'),
    tf.keras.layers.Dense(1, activation='sigmoid')
    
])

In [42]:
model.compile(
    optimizer='SGD',
    loss = 'binary_crossentropy',
    metrics =['accuracy']
)

In [45]:
model.fit(
    x_train, y_train,
    epochs=25,
    steps_per_epoch=50
)

Epoch 1/25
50/50 [==============================] - 0s 611us/step - loss: nan - accuracy: 0.6408
Epoch 2/25
50/50 [==============================] - 0s 692us/step - loss: nan - accuracy: 0.6580
Epoch 3/25
50/50 [==============================] - 0s 651us/step - loss: nan - accuracy: 0.6466
Epoch 4/25
50/50 [==============================] - 0s 651us/step - loss: nan - accuracy: 0.6379
Epoch 5/25
50/50 [==============================] - 0s 656us/step - loss: nan - accuracy: 0.6580
Epoch 6/25
50/50 [==============================] - 0s 627us/step - loss: nan - accuracy: 0.6293
Epoch 7/25
50/50 [==============================] - 0s 651us/step - loss: nan - accuracy: 0.6494
Epoch 8/25
50/50 [==============================] - 0s 611us/step - loss: nan - accuracy: 0.6667
Epoch 9/25
50/50 [==============================] - 0s 631us/step - loss: nan - accuracy: 0.6523
Epoch 10/25
50/50 [==============================] - 0s 631us/step - loss: nan - accuracy: 0.6466
Epoch 11/25
50/50 [==============================] - 0s 631us/step - loss: nan - accuracy: 0.6236
Epoch 12/25
50/50 [==============================] - 0s 611us/step - loss: nan - accuracy: 0.6494
Epoch 13/25
50/50 [==============================] - 0s 611us/step - loss: nan - accuracy: 0.6322
Epoch 14/25
50/50 [==============================] - 0s 611us/step - loss: nan - accuracy: 0.6494
Epoch 15/25
50/50 [==============================] - 0s 631us/step - loss: nan - accuracy: 0.6580
Epoch 16/25
50/50 [==============================] - 0s 635us/step - loss: nan - accuracy: 0.6437
Epoch 17/25
50/50 [==============================] - 0s 631us/step - loss: nan - accuracy: 0.6552
Epoch 18/25
50/50 [==============================] - 0s 652us/step - loss: nan - accuracy: 0.6293
Epoch 19/25
50/50 [==============================] - 0s 692us/step - loss: nan - accuracy: 0.6609
Epoch 20/25
50/50 [==============================] - 0s 693us/step - loss: nan - accuracy: 0.6322
Epoch 21/25
50/50 [==============================] - 0s 692us/step - loss: nan - accuracy: 0.6638
Epoch 22/25
50/50 [==============================] - 0s 733us/step - loss: nan - accuracy: 0.6379
Epoch 23/25
50/50 [==============================] - 0s 712us/step - loss: nan - accuracy: 0.6523
Epoch 24/25
50/50 [==============================] - 0s 672us/step - loss: nan - accuracy: 0.6474
Epoch 25/25
WARNING:tensorflow:Your input ran out of data; interrupting training. Make sure that your dataset or generator can generate at least `steps_per_epoch * epochs` batches (in this case, 1250 batches). You may need to use the repeat() function when building your dataset.
50/50 [==============================] - 0s 200us/step - loss: nan - accuracy: 0.6474